Dear <%= @user.name %>,

<p>
	You recently made a request for a lost password. Please remember to keep your passwords recorded in a safe place.
</p>

<p>
	Your login information: <br>
	Email: <%= @user.email %> <br>
	Password: <%= @user.password %> <br>
</p>

<p>
	Sincerely, <br>
	Pholder Staff
</p>

