<% provide(:title, 'Sign up') %>

<% if @user.errors.any? %>

		<% @user.errors.full_messages.each do |msg| %>
			<%= content_tag(:div, msg, class: "alert alert-error") %>
		<% end %>

<% end %>

<h1>Sign Up</h1>

<%= render 'form' %>


