	<% provide(:title, "Welcome, #{@user.name}!") %>

	<div>
		You currently have <%= pluralize(@user.albums.count, "album") %>
	</div>

	<div>
		<%= link_to "Create a new album!", new_user_album_path(@user) %>
	</div>

	<div>
	<% if @user.albums.any? %>
	hey
	<% else %>
	boo
	<% end %> 

	<%= @user.albums %>
	</div>

	<%= link_to "Back", users_path %>