<% provide(:title, 'Sign up') %>

	<div class="wrapper clearfix">

		<div class="logoholder">
			<a href="#"><img src="assets/smalllogo.png" class="logo" alt="pholder"></a>
		</div> <!-- logoholder -->

		<div class="popup">
			<div class="pholderpopup"> 
				<strong>Pholder</strong> is a new application that makes image viewing and distributing faster than before. Our app allows you to share pictures with friends you invite to share access.
			</div> 

			<div class="arrow-left"></div>
		</div> <!-- popup -->

		<div class="top">

			<div class="intro">
				<h1 class="black">Share photos with your friends from one place</h1>
				<span>Create an album, invite your friends, and upload and view each other's pictures in minutes.</span>

				<div class="getstartedholder">
					<%= button_to "Get Started", new_user_path , { :method => "get", :form_class => "frontbutton" } %>
				</div>

<!-- 					<form method="get" action="#">
						<input type="button" value="Get Started" id="frontbutton">
					</form>
				</div> -->
			</div> <!-- intro -->


			<div class="holder clearfix">
				<img src="assets/party2.png" id="firstimg" class="toppic" alt="party">
				<img src="assets/baby.jpg" id="secondimg" class="toppic" alt="baby">
				<img src="assets/dogs.jpg" id="thirdimg" class="toppic" alt="dogs">
				<img src="assets/scenery.jpeg" id="fourthimg" class="toppic" alt="scenery">
				<img src="assets/happy-people.jpg" id="fifthimg" class="toppic" alt="couple">
				<img src="assets/giraffe.jpg" id="sixthimg" class="toppic" alt="giraffe">
				<img src="assets/graduation.jpg" id="seventhimg" class="toppic" alt="graduation">
				<img src="assets/family.jpg" id="eighthimg" class="toppic" alt="family">
				<img src="assets/artproject.jpg" id="ninthimg" class="toppic" alt="art">
				<img src="assets/vacation.jpg" id="tenthimg" class="toppic" alt="caribbean">
			</div>

		</div> <!-- top -->

	</div> <!-- wrapper -->
