<div class="picthumb" id="photo_<%= photo.id %>">
	<div class="albumpic">
		<%= link_to image_tag(photo.avatar.url ? photo.avatar.url(:small) : @album.name), root_url %>
		<br>
	</div>
	
	<%= link_to "Delete", user_album_photo_path(@user, @album, photo), :remote => true, method: :delete, data: { confirm: "Are you sure? "} %>
</div>