<% provide(:title, "Edit album") %>

<%= render 'form' %>

<div class="destroypicswrapper">
	<% if @album.photos.any? %>
		<%= render :partial => 'photodestroy', :collection => @album.photos, :as => :photo %>
	<% end %> 
</div>