<% provide(:title, "Edit album") %>

<%= render 'form' %>
<div class="clearfix">
<div class="destroypicswrapper offset2">
	<% if @album.photos.any? %>
		<%= render :partial => 'photodestroy', :collection => @album.photos, :as => :photo %>
	<% end %> 
</div>
</div>