<% provide(:title, "Upload pictures") %>

<%= form_for([@user, @album, @photo], :html => { :multipart => true }) do |f| %>

<%= f.file_field :avatar, multiple: true, name: "photo[avatar]" %>

<% end %>

<div id="pics">
	<%= render :partial => "photo", :collection => @photos %>
</div>