/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require 'css/bootstrap.css'
 *= require_tree .
 */

html, body {
	margin: 0 auto;
  height: 100%;
}

.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}

#passwordform {
  width: 400px;
  margin: 0 auto;
}

#forgotlink {
  margin: 0 25px;
}

.friendsholder {
  margin :0 30px;
}

#body {
  padding-bottom: 40px;
}

.bigwrapper {
	width: 960px;
	margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.alert-error {
  border: 1px solid red;
  background: red;
  opacity: .6;
}

h1 {
  color: red;
}

h1.black {
  color: black;
}


footer a {
  text-decoration: none;
}

footer {
  border-top: 2px solid black;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.alert-success, .alert-notice {
	border: 1px solid green;
	background: lime;
	opacity: .6;
}

.uploadreminder {
  padding: 20px;
}

.finisheduploading {
  padding: 0 20px;
}

#signinbutton, #forgotpasswordbutton, #newalbumbutton {
    -moz-box-shadow:inset 0px 1px 13px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 13px 0px #f29c93;
  box-shadow:inset 0px 1px 13px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:26px;
  font-weight:bold;
  padding:18px 44px;
  text-decoration:none;
  text-shadow:1px 1px 5px #b23e35;
  margin: 15px 0;
}

.signinform {
  width: 400px;
  margin: 50px auto;
}



#checkbox {
  display: inline;
}

#rememberme {
  display: inline;
}

.miniprofilepic {
	margin-top: 10px;
}

.hostwrapper, .friendwrapper {
	width: 200px;
	float: right;
	min-height: 100%;
}

.friendwrapper {
  text-align: center;
  padding-bottom: 20px;
}

.textalignleft {
  text-align: left;
  margin-left: 30px;
}

#signinheader {
  color: red;
}


.editprofilelogo {
  text-align: center;
  margin: 15px 0;
}

.albumswrapper {
	width: 800px;
	margin-left: 50px;
	text-align: center;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	line-height: 0;
	height: 0;
	visibility: hidden;
}

.albumthumb {
	width: 160px;
	height: 200px;
}

.albumpic {
  height: 150px;
  overflow: auto;
}

.floatright {
	float: right;
}

.contactform {
  float: left
}

.pagination {
  background: white;
  cursor: default;
  height: 22px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

h3.friends, h1.friends {
  text-align: center;
}

.currentfriends, .friendequests {
  width: 50%;
  float: left;
}


.editprofform {
  float: left;
  margin-left: 20px;
}

#profpicbox {
  width: 300px;
}

#userpic {
  float: left;
}

.usersbox {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}