// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@mixin redbutton {
	-moz-box-shadow:inset 0px 1px 13px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 13px 0px #f29c93;
	box-shadow:inset 0px 1px 13px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:26px;
	font-weight:bold;
	padding:18px 44px;
	text-decoration:none;
	text-shadow:1px 1px 5px #b23e35;
}


@mixin redhover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}

html, body {
	margin: 0;
	padding: 0;
}

.field input {
	height: 30px;
}

#user_password, #user_password_confirmation {
	height: 30px;
}

label {
	padding: 2px;
	font-size: 20px;
}

a {
	text-decoration: underline;
	color: black;
}

.submitbutton {
	@include redbutton;
	margin: 10px 10px 10px 0px;
}

.submitbutton:hover {
	@include redhover;
}

.submitbutton:active {
	position:relative;
	top:1px;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	line-height: 0;
	height: 0;
	visibility: hidden;
}


.search {
	background: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
  	border-top: 2px solid black;
  	text-align: center;
  	z-index: 1030;
  	margin-top: 10px;
  	padding: 5px;
}


nav {
	border-bottom: 2px solid black;
}

nav a:link {
	color: black;
}

nav a:hover {
	background: #E6E6E6;
}


.greybackground {
	background: #E6E6E6;
}


.blackbar:hover {
	cursor: pointer;
}


nav a {
	text-decoration: none;
	background: none;
	color: black;
	display: block;
	float: left;
	padding: 10px;
}

.rightnav {
	float: right;
}

nav div {
	display: block;
}

nav ul {
	display: block;
	float: left;
	position: absolute;
	left: 0px;
}


nav ul li {
	text-decoration: none;
	list-style: none;
	background: #E6E6E6;
}

.leftcolumn {
	width: 560px;
	float: left;
}

.leftcolumn img {
	width: 150px;
	margin: 10px;
	float: left;
}

.rightholder {
	float: right;
	width: 400px;
}

.rightcolumn, .secondright {
	width:400px;
	float: right;
	overflow: auto;
}

.tool {
	height: 40px;
}

.tool a {
	text-decoration: none;
	color: black;
	display: block;
	float: left;
	padding: 10px;
	font-weight: bold;
}

.genrebackground {
	background: #E6E6E6;
}

.numberofalbums, .numberofpictures, .numberoffriends {
	text-align:center;
}

.albumthumb, .picthumb {
	float: left;
	margin: 5px;
	border: 2px solid black;
}

.picthumb {
	width: 150px;
	height: 150px;
	margin-bottom: 15px;
}

.numberofalbums h1 {
	color: red
}

.destroypicswrapper {
	float: left;
	width: 500px;
}

.holder img {
	position: relative;
	background: #fff;
	width: 200px;
	padding: 7px;
	padding-bottom: 30px;
	margin: 10px;
	text-align: center;
	-moz-box-shadow: 1px 1px 3px #222;
	-moz-transform: rotate(-5deg);
	-webkit-box-shadow: 1px 1px 3px #222;
	-webkit-transform: rotate(-5deg);
	box-shadow: 1px 1px 3px #222;
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

#firstimg {
	top: 20px;
	left: 30px;
	bottom: 0px;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

#secondimg {
	top: 120px;
	right: 50px;
	bottom: 0px;
	-moz-transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
	transform: rotate(-35deg);
}

#thirdimg {
	bottom: 200px;
	left: 30px;
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#fourthimg {
	bottom: 100px;
	left: 150px;
}

#fifthimg {
	right: 220px;
	bottom: 310px;
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

#sixthimg {
	right: 330px;
	top: 30px;
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

#seventhimg {
	bottom: 300px;
	left: 20px;
}

#eighthimg {
	left: 300px;
	bottom: 200px;
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

#ninthimg {
	bottom: 150px;
	left: 220px;
}

#tenthimg {
	bottom: 300px;
	left: 35px;
}

.intro {
	position: relative;
	width: 400px;
	float: right;
	text-align: center;
}

.frontbutton input {
	@include redbutton
}

.frontbutton input:hover {
	@include redhover
}

.frontbutton input:active {
	position:relative;
	top:1px;
}
