
		<nav class="clearfix">
	
			<a href="/" class="greybackground">home</a> 
			<a href="">about us</a>
			<a href="">tour</a>

			<div class="rightnav">
				<a href="#" id="signuplink">Sign Up</a>
				<a href="#" id="loginlink">Log In</a>
			</div>
		</nav>